body{
    margin: 0;
    font-family: sans-serif;
    padding: 1rem;
    background-color: #161616;
    color: #fff;
}
input{
    border-radius: 14px;
    border: 1px solid #6c009e;
    padding: 7px 5px;
}
#button{
    padding: 0.4rem 3rem;
    background-color: #6c009e;
    color: #fff;
    border: none;
    border-radius: 14px;
}
#button:hover{
cursor: pointer;
}
.preview{
    
}
.img{
display: block;
width: 5rem;
height: 5rem;
border-radius: 14px;
}
.track-title{
    font-weight: 800;
}
.artist-name{
    font-weight: 300;
}
.button{
    background-color:#f535d5;
    border-radius: 0%;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.info{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}